[keys]

SECRET_KEY=django-insecure-ijayzc7o&wy@htdlg)ioznz5o9j7wp+l!fe(9s53b=kjz0%xe9

[settings]

DEBUG=True

[databases]

PostgreSQL:
NAME=webmarket1
USER=postgres
PASSWORD=...
HOST=localhost
PORT=5432

[admins] (optional)

ADMIN_1_LOGIN=...
ADMIN_1_PASSWORD=...
ADMIN_2_LOGIN=...
ADMIN_2_PASSWORD=...

[users] (optional)

USER_1:
username=..
email=...
password=...
